---
import '../styles/global.css';

interface Props {
	title: string;
}

const { title } = Astro.props;

const navItems = [
	{ label: 'HOME', href: '/' },
	{ label: 'THE GLOB', href: '/the-glob' },
	{ label: 'HEALTH CHECK', href: '/health-check' },
	{ label: 'EVENTS', href: '/events' },
	{ label: 'CONTACT', href: '/contact' },
	{ label: 'SPONSORS', href: '/sponsors' },
];

const currentPath = Astro.url.pathname;
---

<!DOCTYPE html>
<html lang="en-GB" dir="ltr" class="scroll-smooth">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="author" content="Expose Yourself" />
	<meta name="description" content="A short description of your website content, what you talk about and who you are talking to. We suggest you add this text to tell your users what you are talking about in your website before they come and visit. It will be amongst search engine results." />
	<title>{title}</title>
</head>
<body class="m-0 p-0 text-left h-full overflow-x-hidden font-opensans">
	<div id="imPageExtContainer" class="min-h-full bg-glob-orange">
		<div id="imPageIntContainer" class="relative overflow-x-hidden">
			<!-- Header Background -->
			<div id="imHeaderBg" class="absolute left-0 top-0 w-full h-20 bg-glob-dark z-[1]"></div>
			<!-- Footer Background -->
			<div id="imFooterBg" class="absolute left-0 bottom-0 w-full h-30 bg-glob-dark z-[1]"></div>
			
			<div id="imPage" class="relative w-full grid grid-cols-[1fr_960px_1fr] grid-rows-[150px_auto_120px] max-lg:grid-cols-[1fr_minmax(auto,720px)_1fr] max-lg:grid-rows-[150px_auto_200px] max-md:grid-cols-[1fr_minmax(auto,480px)_1fr] max-md:grid-rows-[120px_auto_150px] max-sm:grid-cols-[0_1fr_0]">
				
				<!-- Header -->
				<header id="imHeader" class="block col-[2/3] row-[1/2] relative z-10">
					<h1 class="hidden">The Glob</h1>
					<div id="imHeaderObjects" class="mx-auto relative h-[150px] w-[960px] max-lg:w-full max-lg:max-w-[720px] max-md:max-w-[480px] max-sm:max-w-[320px]">
						
						<!-- Navigation Menu -->
						<div id="imHeader_imMenuObject_12_wrapper" class="absolute top-[6px] -left-1 w-[847px] h-[42px] text-center z-[1002] max-lg:w-full max-md:w-full">
							<div id="imHeader_imMenuObject_12">
								<div id="imHeader_imMenuObject_12_container" class="border-0 w-full box-border bg-transparent p-0 inline-table">
									
									<!-- Hamburger Button (Mobile Only) -->
									<div class="hamburger-button hamburger-component hidden max-md:inline-block cursor-pointer w-8 h-8 align-top p-0 border-0 max-md:absolute max-md:top-5 max-md:left-2.5 max-md:z-[10302]">
										<div class="table w-full h-full relative z-[1]">
											<div class="table-cell align-middle">
												<div class="hamburger-bar my-[3px] mx-auto w-[65%] h-[3px] bg-white"></div>
												<div class="hamburger-bar my-[3px] mx-auto w-[65%] h-[3px] bg-white"></div>
												<div class="hamburger-bar my-[3px] mx-auto w-[65%] h-[3px] bg-white"></div>
											</div>
										</div>
									</div>
									
									<!-- Mobile Menu Background -->
									<div class="hamburger-menu-background-container hamburger-component hidden max-md:hidden">
										<div class="hamburger-menu-background menu-mobile menu-mobile-animated hidden absolute top-0 bottom-0 w-[200px] left-0 right-auto bg-glob-dark max-md:block"></div>
									</div>
									
									<!-- Navigation Links -->
									<ul class="list-none m-0 p-0 after:content-[''] after:table after:clear-both max-md:hidden [&.menu-opened]:block [&.menu-opened]:absolute [&.menu-opened]:left-0 [&.menu-opened]:top-10 [&.menu-opened]:bg-glob-dark [&.menu-opened]:overflow-x-hidden [&.menu-opened]:overflow-y-auto [&.menu-opened]:h-[calc(100%-40px)] [&.menu-opened]:w-full">
										{navItems.map(item => (
											<li class={`imPage relative ml-0 mt-0 inline-block align-top max-md:block ${currentPath === item.href || (item.href !== '/' && currentPath.startsWith(item.href)) ? 'imMnMnCurrent' : ''}`} data-link-paths={item.href}>
												<div class="label-wrapper block overflow-hidden w-[140px] h-[31px] p-0 border-0 bg-transparent border-[#d3d3d3] border-solid max-md:w-[180px] max-md:h-[61px] max-md:px-2.5 max-md:bg-glob-dark max-md:relative">
													<div class="label-inner-wrapper table w-full h-full relative z-[1]">
														<a class="label table-cell align-middle w-full h-full font-opensans text-[12pt] not-italic no-underline text-center text-white font-normal max-md:text-white max-md:no-underline hover:text-glob-gold [&.imMnMnCurrent]:text-glob-gold" href={item.href}>{item.label}</a>
													</div>
												</div>
											</li>
										))}
									</ul>
								</div>
							</div>
						</div>
						
						<!-- Title -->
						<div id="imHeader_imObjectTitle_13_wrapper" class="absolute top-[89px] -left-px w-[221px] h-[60px] text-center z-[1003]">
							<div id="imHeader_imObjectTitle_13" class="m-0 text-center">
								<span id="imHeader_imObjectTitle_13_text" class="font-fredoka text-[24pt] p-0 bg-transparent relative inline-block">
									<a href="/" class="text-glob-dark no-underline whitespace-pre-wrap hover:text-glob-gold">The Glob</a>
								</span>
							</div>
						</div>
						
						<!-- Header Logo -->
						<div id="imHeader_imObjectImage_14_wrapper" class="absolute top-3 left-[811px] w-[138px] h-[135px] text-center z-[1004] overflow-hidden max-lg:left-[565px] max-md:left-auto max-md:right-2.5 max-md:w-[126px] max-md:h-[118px] max-sm:w-[112px] max-sm:h-[107px] max-sm:right-[5px]">
							<div id="imHeader_imObjectImage_14">
								<div id="imHeader_imObjectImage_14_container">
									<img src="/images/LCI_emblem_2color_web_685u20kc.png" alt="" width="138" height="138" class="w-full h-auto align-top" />
								</div>
							</div>
						</div>
					</div>
				</header>
				
				<!-- Sticky Bar (Desktop Only) -->
				<div id="imStickyBarContainer" class="visible fixed top-0 left-0 right-0 mx-auto w-full h-[100px] box-border z-[10301] transform translate-z-0 max-md:!hidden">
					<div id="imStickyBarGraphics" class="absolute top-0 left-0 right-0 mx-auto w-full h-[100px] box-border bg-glob-dark opacity-100 z-[10301]"></div>
					<div id="imStickyBar" class="relative top-0 left-0 mx-auto w-[960px]">
						<div id="imStickyBarObjects" class="relative h-[100px]">
							<div id="imStickyBar_imMenuObject_01_wrapper" class="absolute top-2.5 left-2.5 w-[897px] h-[42px] text-center z-[1002]">
								<div id="imStickyBar_imMenuObject_01">
									<div id="imStickyBar_imMenuObject_01_container" class="border-0 w-full box-border bg-transparent p-0 inline-table">
										<ul class="list-none m-0 p-0 after:content-[''] after:table after:clear-both">
											{navItems.map(item => (
												<li class={`imPage relative ml-0 mt-0 inline-block align-top ${currentPath === item.href || (item.href !== '/' && currentPath.startsWith(item.href)) ? 'imMnMnCurrent' : ''}`} data-link-paths={item.href}>
													<div class="label-wrapper block overflow-hidden w-[140px] h-[33px] p-0 border-0 bg-transparent border-[#d3d3d3] border-solid">
														<div class="label-inner-wrapper table w-full h-full relative z-[1]">
															<a class="label table-cell align-middle w-full h-full font-opensans text-[13pt] not-italic no-underline text-center text-white font-normal hover:text-glob-gold [&.imMnMnCurrent]:text-glob-gold" href={item.href}>{item.label}</a>
														</div>
													</div>
												</li>
											))}
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<a class="hidden" href="#imGoToCont">Go to content</a>
				
				<div id="imSideBar" class="hidden"></div>
				
				<div id="imContentGraphics" class="block col-[2/3] row-[2/3] min-h-[380px] bg-glob-orange"></div>
				
				<main id="imContent" class="block col-[1/4] row-[2/3] relative self-start p-0">
					<a id="imGoToCont"></a>
					<slot />
				</main>
				
				<!-- Footer -->
				<footer id="imFooter" class="block col-[2/3] row-[3/4] relative z-10 max-lg:row-[3/4] max-md:row-[3/4]">
					<div id="imFooterObjects" class="mx-auto relative h-[120px] w-[960px] max-lg:w-full max-lg:max-w-[720px] max-lg:h-[200px] max-md:max-w-[480px] max-md:h-[150px] max-sm:max-w-[320px]">
						
						<!-- Footer Title -->
						<div id="imFooter_imObjectTitle_50_wrapper" class="absolute top-6 left-[26px] w-[134px] h-6 text-center z-[1002] max-md:top-[15px] max-md:left-[15px] max-sm:top-3 max-sm:left-2.5">
							<div id="imFooter_imObjectTitle_50" class="m-0 text-left">
								<span id="imFooter_imObjectTitle_50_text" class="font-fredoka text-[20pt] p-0 bg-transparent relative inline-block">
									<a href="/" class="text-white no-underline whitespace-pre-wrap hover:text-glob-gold">The Glob</a>
								</span>
							</div>
						</div>
						
						<!-- Footer Logo -->
						<div id="imFooter_imObjectImage_51_wrapper" class="absolute top-5 left-[800px] w-[150px] h-[100px] text-center z-[1003] overflow-hidden max-lg:left-[557px] max-md:left-auto max-md:right-2.5 max-md:w-[140px] max-md:top-2.5 max-sm:w-[120px] max-sm:right-[5px]">
							<div id="imFooter_imObjectImage_51">
								<div id="imFooter_imObjectImage_51_container">
									<img src="/images/weServe.png" alt="" width="150" height="82" class="w-full h-auto align-top" />
								</div>
							</div>
						</div>
						
						<!-- Footer Text -->
						<div id="imFooter_imTextObject_52_wrapper" class="absolute top-[52px] left-[26px] w-[510px] h-[60px] text-center z-[1004] overflow-hidden max-md:top-[45px] max-md:left-[15px] max-md:w-[calc(100%-160px)] max-sm:top-10 max-sm:left-2.5 max-sm:w-[180px]">
							<div id="imFooter_imTextObject_52" class="not-italic font-normal leading-7">
								<div class="text-tab-content current-tab">
									<div class="text-inner">
										<span class="text-[8pt] leading-4 text-glob-text">Project run by Lions District 202D - Zone 1</span>
										<div><span class="text-[8pt] leading-4 text-glob-text">Dr Warren Nicholls</span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</footer>
			</div>
		</div>
	</div>
	
	<script>
		// Mobile menu toggle
		document.addEventListener('DOMContentLoaded', function() {
			const menuWrapper = document.getElementById('imHeader_imMenuObject_12_wrapper');
			const menuObj = document.getElementById('imHeader_imMenuObject_12');
			const hamburgerBtns = document.querySelectorAll('.hamburger-button');
			const mobileMenu = menuObj ? menuObj.querySelector('ul') : null;
			const menuBg = menuObj ? menuObj.querySelector('.hamburger-menu-background') : null;

			if (menuWrapper && menuObj && mobileMenu) {
				hamburgerBtns.forEach(function(btn) {
					btn.addEventListener('click', function(e) {
						e.preventDefault();
						mobileMenu.classList.toggle('hidden');
						mobileMenu.classList.toggle('menu-opened');
						if (menuBg) {
							menuBg.classList.toggle('hidden');
						}
						document.body.classList.toggle('im-menu-opened');
					});
				});

				const menuLinks = mobileMenu.querySelectorAll('a');
				menuLinks.forEach(function(link) {
					link.addEventListener('click', function() {
						mobileMenu.classList.add('hidden');
						mobileMenu.classList.remove('menu-opened');
						if (menuBg) menuBg.classList.add('hidden');
						document.body.classList.remove('im-menu-opened');
					});
				});

				if (menuBg) {
					menuBg.addEventListener('click', function() {
						mobileMenu.classList.add('hidden');
						mobileMenu.classList.remove('menu-opened');
						menuBg.classList.add('hidden');
						document.body.classList.remove('im-menu-opened');
					});
				}
			}
		});
	</script>
</body>
</html>
